.feynman__link {
  margin: 0;
  position: absolute;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 48px;
  top: 50%;
  opacity: 1;
}

.feynman__link:hover {
  opacity: 0.4;
  transition: .7s ease-in;
}
